name: Deploy to VM

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ml-vm
    
    steps:
    - name: Pull code
      run: |
          git pull
    - name: Pull models
      run: |
          dvc pull models/attractiveness_classifier.pt
          # other models
    - name: Stop and restart containers
      run: docker compose down && docker compose build && docker compose up --remove-orphans -d
